<div id="sidebar" class="stripView js-stripView mix-stripView_isHidden">
    <div class="stripView-trigger js-stripView-trigger"></div>
    <h1 class="stripTitle">Arrivals</h1>
    <ul id="strips-arrivals" class='stripView-list nice-scrollbar js-stripViewArrivals-list'></ul>
    <h1 class="stripTitle">Departures</h1>
    <ul id="strips-departures" class='stripView-list nice-scrollbar js-stripViewDepartures-list'></ul>
</div>
